.pagination_container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-black);
    font-family: 'nunito sans';

}

.search_container{
    background: var(--primary-white);
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    border: 1px solid var(--primary-grey);
    width: 100%;
    max-width: 90%;
    max-height: 50px;
    transition: all 0.3s ease;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &:hover{
        box-shadow: 0 0 0 2px var(--primary-grey);
    }
    &.focus{
        outline: 2px solid var(--primary-grey);
        outline-offset: 5px;
        animation: outlineExplosion 0.5s ease;

        &:hover{
            border: none;
        }
    }
    input{
        height: 100%;
        border: none;
        width: 100%;
        font-size: 1.6rem;
        padding: 1.6rem;
        font-weight: 600;
        background-color: transparent;
        color: var(--primary-black);
        font-family: 'nunito sans';
        border-left: 1px solid var(--primary-grey);


        &.lieu{
           background-color: rgb(249, 248, 248);
        }
        &::placeholder{
            color: var(--light-grey);
        }
        &:focus{
            outline: none;
        }
     
    }
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.6rem;
        padding: 1.6rem;
        color: var(--primary-white);
        font-weight: 600;
        background: var(--green);
        font-family: 'nunito sans';
        transition: all 0.3s ease;
        box-shadow:inset 0px 0 0 0px var(--light-green);
        &:hover{
            color: var(--green);
            box-shadow:inset 200px 0 0 0px var(--light-green);
        }
    
    }
    
}
.no_result{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-black);
    font-family: 'nunito sans';
    margin-top: 3.2rem;
    text-align: center;
    width: 100vw;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.secteur_choice{
    display: flex;
    gap: 1.6rem;
    margin-top: 3.2rem;
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-black);
    font-family: 'nunito sans';
    .secteur{
        padding: 1.6rem;
        background-color: var(--light-green);
        color: var(--dark-green) !important;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: var(--green);
            color: var(--primary-white);
        }
    }
}
@keyframes outlineExplosion {
    0%{
        outline: 2px solid rgba(0, 128, 0, 0.144);
        outline-offset: 10px;
    }
    50%{
        outline: 2px solid var(--primary-grey);
        outline-offset: 0;
    }
    100%{
        outline: 2px solid var(--primary-grey);
        outline-offset: 5px;
    }
}

@media screen and (max-width: 680px){
    .search_container{
       flex-direction: column;
       max-height: max-content;

         input{
              border: 1px solid var(--primary-grey);
         }

         button{
                width: 100%;
         }
    }
    .secteur_choice{
        margin-left: 0;
    }
    
}