*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: var(--background-white);
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

body, #root{
  min-height: 100vh;
}

h1, h2, h3, h4, p{
  padding: 0;
  margin: 0;
}