:root{
  --primary-white: #fff;
  --background-white: #F6F6F9;
  --primary-black: #171717;
  --primary-red: #922727;
  --primary-green: #009B4C;
  --primary-green-hover: #007A3B;
  --light-green: #8BD2AE;
  --primary-red-hover: #711E1E;
  --secondary-black: #797979;
  --primary-grey: #CCCCCC;
  --secondary-grey: #F0F0F0;
  --light-red: #FFDEDE;
  --green : #009B4C;
  --light-green : #cafce2;
  --dark-green : #064323;
  --light-blue : #e1ebfe;
  --blue : #2f74ff;
  --dark-blue : #1A4496;
  --light-orange : #f6dfda;
  --orange : #eb5d3d;
  --dark-orange : #FF785A;
}